<h1>Cadastrar Livro</h1>
<form action="/books/insert" method="POST" class="form">
    <div class="form-control">
        <label for="title">Titúlo:</label>
        <input type="text" name="title" id="title">
    </div>
    <div class="form-control">
        <label for="pageqty">Numero de páginas:</label>
        <input type="number" name="pageqty" id="pageqty">
    </div>

    <input type="submit" value="cadastrar">
</form>