*{
    font-family: Helvetica;
    margin: 0;
}
#navbar{
    border-bottom: 1px solid #CCC;
    padding: 1em;
    margin-bottom: .5em;
}

#navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
}

#navbar ul li{
    margin-left: 1em;
}

h1{
    text-align: center;
}

.form,
.books-container{
    width: 450px;
    margin: 0 auto;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label{
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input{
    padding: 5px;
}

/* BOOKS */

.books-container div{
    border-bottom: 1px solid #CCC;
    padding: 5px;
    margin: 5px;
}

.bold {
    font-weight: bold;
}

/* Book */
#book-page{
    padding: 3em;
}

#book-page .container{
    text-align: center;
}

.actions{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions a{
    margin-right: .5em;
}

.actions .delete{
    border: none;
    background-color: rgb(255, 62, 62);
    color: white;
    padding: 8px;
}

.actions .delete:hover{
    background-color: rgb(170, 36, 36);
    cursor: pointer;
}